
/*------------animaciones texto--------------*/
.title-contenido{
    opacity: 0;
    animation: revealText .5s forwards; 
}

.title-2{
    animation-delay: .175s;
}
.title-3{
    animation-delay: .25s;
}
.title-4{
    animation-delay: .325s;
}
.title-5{
    animation-delay: .500s;
}

@keyframes revealText {
    from{
        transform: translateY(20px); 
    }
    to{
        opacity: 1;
        transform: none; 
    }
}


/*------------animaciones boton--------------*/

.button {
    display: map-get($botonAnimacion, display );
    border: map-get($botonAnimacion , borde );
    width: map-get($botonAnimacion , ancho );
    transition: all map-get($botonAnimacion, trans );
    cursor: pointer;
    
  }
  
  .button span {
    display: map-get($botonAnimacion, display );
    position: relative;
    transition: map-get($botonAnimacion, trans );
  }
  
  .button span:after {
    content: map-get($botonAnimacion , flecha );
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: map-get($botonAnimacion, trans );
  }
  .button:hover{
    background-color: $colorBlanco;
  }
  
  .button:hover span {
    color: $colorNegro;
    padding-right: 25px;
  }
  
  .button:hover span:after {
      
    opacity: 1;
    right: 0;
  }


/*--------------------------------*/
.animaRS:hover{
    transform: scale(1.1);
}