
/*redimensión contenido*/
/*REdimensionar RS*/
.redimensionRs{
    width: 40px;
    height: 40px;
}


/*redimensionar logo*/
.redi_logo{
    width: 80px;
    height: 80px;
}

/*redimensionar foto*/
.redimenFoto{
    width: 250px;
    height: 350px;
}